@model BojoweZaby.Models.AccountModel

@{
    ViewData["Title"] = "Edit Existing User";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="form-container">
    <h2>Edit User</h2>

    <form asp-action="EditUser" method="post" asp-route-id="=@Model.AccountId">
        <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" value="@Model.Username" required />
        </div>

        <div class="form-group">
            <label for="login">Login</label>
            <input name="login" type="text" value="@Model.Login" required />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" value="@Model.Password" required />
        </div>

        

        <div class="form-buttons">
            <button type="submit">Confirm Edit</button>
            <a class="cancel-link" asp-action="Users">Cancel</a>
        </div>
    </form>
</div>